// Import all of Bootstrap's CSS
$primary: #536DFE;
@import "bootstrap";

// google fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;700&display=swap');

html,
body {
    height: 100%;
}

[data-bs-theme="dark"] {
    --bs-body-color: var(--bs-white);
}

.font-nunito {
    font-family: 'Nunito';
}

#hero-section {
    background-color: #212121;
    opacity: 1;
    background-image: radial-gradient(#424242 0.8px, transparent 0.8px), radial-gradient(#424242 0.8px, #212121 0.8px);
    background-size: 32px 32px;
    background-position: 0 0, 16px 16px;

    .hero-container {
        margin: 38px;
    }

}